@import '../../lib/scss/colors.scss';

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(315%);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.menu {
  background-color: black;
  padding: 40px 100px 30px 40px;
  position: absolute;
  top: 0;
  right: -100%;
  transition: all .35s;
  @media screen and (max-width: 600px) {
    width: 100%;
  }

  + .hamburger-react {
    width: 50px !important;
    right: 70px !important;
    position: absolute !important;
    transition: all .42s !important;

    @media (max-width: 639px) {
      right: 12px !important;
    }

    &:hover {
      cursor: url("../../assets/img/hand.png") 0 0, auto !important;

      > div {
        background-color: $color-blue !important;
      }
    }

    > div {
      width: 50px !important;
      height: 6px !important;
    }
  }

  &.active {
    right: 0;
    animation: bounce-in-right 1.5s ease-in-out;
    animation-delay: -0.35s;
  }

  ul {
    li {
      margin-bottom: 8px;
      position: relative;

      &:hover {
        a {
          color: $color-blue;
        }
      }

      a {
        font-size: 30px;
        font-weight: 800;
        color: white;
        line-height: 1;
        transition: all .2s ease-in-out;

        &.selected {
          text-decoration: line-through;
          opacity: .3;
        }
      }
    }

    ul {
      margin-top: 16px;
      margin-bottom: 24px;
      padding-left: 20px;

      li a {
        font-size: 20px;
      }
    }
  }

  &-cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    transition: all .35s;

    &.opened {
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: auto;
    }
  }
}