.main-page {
  padding-top: 170px;
  margin-bottom: 170px;
  @media screen and (max-width: 767px) {
    margin-bottom: 80px;
    padding: 120px 12px 0;
  }

  &-header {
    margin-bottom: 120px !important;
    @media screen and (max-width: 1279px) {
      margin-bottom: 80px !important;
    }
    @media screen and (max-width: 1023px) {
      margin-bottom: 60px !important;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 40px !important;
    }
  }
}