.main-page {
  padding-top: 170px;
  margin-bottom: 170px;
  @media screen and (max-width: 767px) {
    margin-bottom: 80px;
    padding: 120px 12px 0;
  }

  &-header {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 120px;
    @media screen and (max-width: 1279px) {
      margin-bottom: 80px;
    }
    @media screen and (max-width: 1023px) {
      margin-bottom: 60px;
      font-size: 42px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
      font-size: 36px;
    }
  }

  .faq-section {
    display: flex;
    gap: 72px;
    margin-top: 72px;
    @media screen and (max-width: 767px) {
     flex-wrap: wrap;
      gap: 16px;
    }

    > div {
      &:first-child {
        flex-basis: 30%;
        @media screen and (max-width: 767px) {
          flex-basis: 100%;
        }

        h2 {
          font-size: 32px;
          line-height: 42px;
          font-weight: 800;
          margin-bottom: 20px;
        }

        p {
          font-size: 18px;
          margin-bottom: 16px;
          opacity: .6;
        }
      }

      &:last-child {
        flex-basis: 70%;
        @media screen and (max-width: 767px) {
          flex-basis: 100%;
        }
      }
    }
  }
}