.case-studies {
  padding-top: 132px;

  @media (max-width: 639px) {
    padding: 110px 8px 0;
  }

  &-header {
    margin-bottom: 110px;

    @media (max-width: 639px) {
      margin-bottom: 60px;

    }
  }

  &-info {
    align-self: center;

    @media (max-width: 639px) {
      order: 1;
      text-align: center;

    }
  }

  &-img {
    width: 260px !important;

    @media (max-width: 639px) {
      width: 200px;
      display: block;
      margin: 0 auto 32px
    }
  }

  > button {
    margin: 0 auto 50px;
  }

  .no-entries-info {
    margin-bottom: 122px;
  }
}