@import '../../lib/scss/colors.scss';

.header {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: white;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid white;
  transform: translateY(-100%);
  transition: all .3s;
  z-index: 10;

  &.transparent {
    &.pinned:not(.collapsed) {
      background-color: transparent;
      border-bottom: none;

      a svg {
        fill: white;

        &:hover {
          fill: $color-blue
        }
      }

      .menu + .hamburger-react {
        > div {
          background-color: white !important;
        }

        &:hover > div {
          background-color: $color-blue !important;
        }
      }
    }
  }

  @media (max-width: 639px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &.collapsed {
    border-bottom: 1px solid #D8D8D8;
  }

  &.pinned {
    transform: translateY(0);
  }

  a svg:hover {
    fill: $color-blue;
  }
}