@import '../../lib/scss/colors.scss';

.video {
  height: 90vh;

  @media screen and (max-width: 767px) {
    padding-bottom: 56.25%;
    height: auto;
  }

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}