@import '../../lib/scss/colors.scss';

.violet {
  color: $color-blue;
}

.headline {
  &-1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 24px;
    font-weight: 800;
    @media (max-width: 1279px) {
      font-size: 42px;
      line-height: 50px;
    }
    @media (max-width: 767px) {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &-2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
    font-weight: 800;
    @media (max-width: 1279px) {
      font-size: 28px;
      line-height: 36px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &-3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    font-weight: 800;
    @media (max-width: 1279px) {
      font-size: 22px;
      line-height: 28px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &-4 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 16px;
    font-weight: 800;
    @media (max-width: 1279px) {
      font-size: 20px;
      line-height: 24px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}