.authors {
  margin-top: 32px;

  margin-bottom: 80px;

  @media (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media (max-width: 639px) {
    margin-bottom: 50px;
  }

  &-insights {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: .6;
    display: block;
    margin-bottom: 16px;
  }

  &-mobile {
    display: flex;
    overflow: auto;
  }
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  flex: 0 0 auto;

  @media (max-width: 639px) {
    margin-bottom: 0;
    margin-right: 20px;
  }


  img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin-right: 16px;
  }

  &-info {
    span {
      display: block;
      line-height: 26px;

      &:last-child {
        opacity: .6;
      }
    }
  }
}