.accordion {
  &-element {
    margin-bottom: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 24px;

    &.active {
      h3 svg {
        transform: rotate(-90deg);
      }
      .accordion-content {
        max-height: 600px;
        opacity: 1;
      }
    }

    h3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      font-weight: 500;
      margin-bottom: 0;
      padding: 24px;
      cursor: pointer;
      svg {
        transform: rotate(90deg);
        transition: all .3s;
        flex-shrink: 0;
      }
    }
  }

  &-content {
    padding: 0 24px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .3s;

    p {
      &:last-child {
        margin-bottom: 24px;
      }
    }
  }
}